

body {
	margin: 10px;
	font-family: 'Lato';
	color: #ffffff;
	background-color: #403e3e;
}
/* icontienda */
.icon-cart {
	width: 40px;
	height: 40px;
	stroke: #000;
}

.icon-cart:hover {
	cursor: pointer;
}

img {
	max-width: 100%;
}
/* iconnadvar */
.logo {
	display: flex;
	justify-content: center;
	align-items: start;
	font-family: Arial, sans-serif;
	font-size: 48px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 8px;
	animation: fadeInOut 2s infinite;
  }
  
  .logo-text {
	opacity: 0;
	animation: fadeInOut 2s infinite;
	animation-delay: calc(0.2s * var(--index));
  }
  
  @keyframes fadeInOut {
	0% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  
  
/* navbar */

.container_nav {
	display: flex;
	justify-content: center; /* Centrar el contenido horizontalmente */
	align-items: center;
	background-color: #00ff0d;
	width: 100%;
	height: 40px;

  }
  
  .navbar-brand {
	font-size: 24px;
	font-weight: bold;
	animation: fadeInOut 2s ease infinite; /* Animación de desvanecimiento */
  }
  
  .navbar-links {
	display: flex;
	gap: 20px;
  }
  
  .navbar-links a {
	color: #000; /* Color de texto inicial */
	text-decoration: none;
	font-size: 16px;
	font-family: 'Courier New', monospace; /* Fuente estilo 'typewriter' para dar un toque especial */
  }
  
  @keyframes fadeInOut {
	0% {
	  opacity: 0; /* Inicio de la animación con opacidad 0 */
	}
	50% {
	  opacity: 1; /* Mitad de la animación con opacidad 1 */
	}
	100% {
	  opacity: 0; /* Fin de la animación con opacidad 0 */
	}
  }
  
  
  
  
/* Header */
.container-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	background-color: #88BE4C;
	width: 100%;
	height: 40px;
	border-radius: 40px;
	position: relative;
	margin-bottom: 50px;
}

.container-icon h1 {
	font-size: 24px;
	margin-right: 20px;
	color: #ffffff;
	animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}
.container-cart-products {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: #000000;
  }
  
.container-cart-icon {
	position: relative;
	cursor: pointer;
	animation: scaleIn 1s ease-in-out;
}

@keyframes scaleIn {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

.icon-cart {
	width: 24px;
	height: 24px;
	margin-right: 5px;
	fill: #8C1414;
	animation: rotate 2s linear infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.count-products {
	position: absolute;
	top: -5px;
	right: -5px;
	background-color: #8C1414;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.hidden-cart {
	display: none;
}


.info-cart-product {
	
	background-color:#000000;
	
}

.cantidad-producto-carrito {
	font-size: 16px;
	margin-right: 10px;
	color: #ffffff;
}
.row-product {
	display: flex;
	flex-direction: column; /* Organizar los elementos hacia abajo en orden inverso */
}


.titulo-producto-carrito {
	font-size: 16px;
	margin-right: 10px;
	color: #ffffff;
}

.precio-producto-carrito {
	font-size: 16px;
	color: #00ff1e;
}

.icon-close {
	width: 100%;
	height: 20px;
	cursor: pointer;
	color: #ff0000;
	animation: rotate 1s ease-in-out infinite;
}

.titulo-producto-carrito {
	font-size: auto;
	color: #ff0000;
}

.cart-total {
text-align: center;
    
   
   
   
}

.total-pagar {
	font-size: 16px;
}

.btn-clear-all {
	background-color: #8C1414;
	color: #ff0000;
	border: none;
	padding: 10px 15px;
	font-size: 16px;
	cursor: pointer;
	animation: slideIn 1s ease-in-out;
}

.cart-empty {
	color: #333;
	font-style: italic;
	animation: fadeIn 1s ease-in-out;
}

/* Productos */
.container-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.item {
	border-radius: 10px;
	text-align: center;
	font-family: fantasy;

}

.item:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	background-color: crimson;
}

.item img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
	transition: all 0.5s;
}



.item:hover img {
	transform: scale(1.2);
}

.price {
	font-size: 18px;
	font-weight: 900;
}

.info-product button {
	border: none;
	background: none;
	background-color: #0da834;
	color: #fff;
	padding: 15px 10px;
	cursor: pointer;
	border-radius: 40px;
}

.cart-empty {
	padding: 20px;
	text-align: center;
}

.hidden {
	display: none;
}
.cart-product-item {
	width: 100%;
	height: 50px; /* Ajusta el tamaño según tus necesidades */
	/* Otros estilos adicionales */
  }
  
.btn-clear-all {
	border: none;
	background-color: #000;
	color: #fff;
	padding: 15px 0;
	display: block;
	width: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-family: inherit;
	cursor: pointer;
  font-size: 16px;
  transition: all .3s ease;
}

.btn-clear-all:hover{
  background-color: #ff0000;
  transform: scale(1.03);
  border-radius: 0;
}
/* footer */
.main-footer{
    color:#0da834;
    background-size: cover;
    width: 100%;
	text-align: center;
}
.row1 img {
    width: 200px;
    height: auto;
    margin-top: 20px;
    margin-left: 40px;
    
}
.row1 li {
  list-style: none;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 40px;
  margin-bottom: -10px;
  color: #00ff62;
  justify-content: space-between;
  text-align: justify;
  font-weight: bold;
  
}
ul {
	list-style: none;
  }
.row1 {
	display: flex;
}
.col h2{
	margin-top: 20px;
    color: #ffffff;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: -20px;
}
.row1 p{
    margin-left: 40px;
    color: #000000;
    font-weight: bold;
}
.col-sm{
    margin-bottom: 0;
    justify-content: center;
    display: flex;
    text-align: center;
}

/* contacto */
.whatsapp-container{
	display: flex;
	justify-content: end;
	align-items: center;
	
}
.contacimg{
	width: 50px;
	height: 50px;
}

/* login */
.username{
	color: rgb(255, 0, 0);
}
.login_container {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("https://agriculturasostenible.mx/wp-content/uploads/2021/08/foto_agricultura-scaled.jpg");
	background-repeat: no-repeat;
	background-size: 100% ; 
	background-position: center;
  }
  
  
 hr{
	background-color: #00ff0d;
 }
  .login_form{
	

	margin: 20px 30px 50px 10px;
	background: rgba(35, 33, 33, 0.1);
	width: 70vh;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 8px 32px 0 rgba(26, 255, 0, 0.37);
	backdrop-filter: blur(8.5px);
	border-radius: 10px;
  }
  
  
  h2{
	color: #ffffff;
	text-decoration: overline;
  }
  
  .login_form {
	width: 300px;
	text-align: center;
  }
  
 
  
  .login_form div {
	margin-bottom: 10px;
  }
  
  .login_form label {
	display: block;
  }
  
  .login_form input[type="text"],
  .login_form input[type="password"] {
	width: 100%;
	padding: 5px;
	border-radius: 20px;
	text-align: center;
  }
  
  .login_form button {
	width: 105%;
	height: 30px;
	background-color: #0da834;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 20px;
  }
  
  .login_form button:hover {
	background-color: #4dff00;
	color: #ff0000;
	text-decoration: line-through;
  }
  
/* responsive */
@media (max-width: 767px) {
	
	header {
		
		display: flex;
		align-items: center;
	
		
	}

/* producto */
	.icon-cart {
		width: 50px;
		height: 50px;
	}
	.precio-producto-carrito {
		font-weight: 200px;
		font-size: 20px;
		margin-left: 10px;
	}
	
	
	
	.cart-product {
		padding: 20px;
	}

	
	.cart-total {
		text-align: center;

	}

	
	.container-items {
		grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	}
	
	.btn-clear-all {
		padding: 10px 0;
		font-size: 14px;
	}


	/* footer */
	.row1 {
		flex-direction: column;
		text-align:  start;
	  }
	
	  .col {
		flex: 0 0 100%;
		max-width: 100%;
	  }
	
	  .col h2 {
		margin-top: 20px;
		margin-bottom: 10px;
		
	  }
	
	  .col ul li {
		margin-top: 10px;
		text-align: start;
	  }
	  /* logi */
	  .login_container {
		height: auto;
		padding: 20px;
	  }
	
	  .login_form {
		width: 100%;
	  }
	
	  .login_form button {
		width: 100%;
	  }
	}
